<!DOCTYPE html>
<html lang="en"  ng-app="domLi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome
        <%= uid %>
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script>
        //**********************************************************************************
        'use strict';
        var selectedDomain = "";

        // I want to pass this socket variable to Idea List variable...

        let socket = io('<%= host %>' + '/ideaPage', {
            transports: ['websocket']
        });
         var domLis = angular.module('domLi',[]);
        domLis.controller('domList',function($scope,$log){
            $scope.domLi = <%- JSON.stringify(iDomain) %>;
            $log.debug("hellooooo this is AngularJS ",$scope.domLi);
            $scope.sd=[];
            angular.forEach($scope.domLi, function(value, key){
                    $scope.sd[value.name] = value.sd;
                    $log.info("Dom Name ", value.name);
                    $log.info("SubDom lst ", $scope.sd[value.name]);
            });
            $scope.$watch()
        });

        // To the controller defined in below lines

        domLis.controller('ideaList',function($scope,$log){
            $scope.ideaLi = <%- JSON.stringify(iData) %>;
            $log.debug("hellooooo this is AngularJS ",$scope.ideaLi);
        });

        socket.on('IdeaListUpdate',)

        $('#dsd_ideaCreate').on('click', () => {
            console.log("button Clicked");
            console.log($('#dsd_ideaTitle').val());
            $.ajax({
                type: 'POST', // added,
                url: "/insertideaDL",
                data: {
                    uid: <%= _id%>,
                    domain: $('#dsd_ideaDName').val(),
                    subDomain: $('#dsd_ideaSDName').val(),
                    tittle: $('#dsd_ideaTitle').val(),
                    ibody: $('#dsd_ideaBody').val(),
                    status: "Active",
                    dateTime: new Date($.now())
                },
                success: function(data) {
                    console.log("Successfully recieve post",data);
                    socket.emit('IdeaListUpdate', JSON.stringify(data));         
                },
                error: function(xhr, status, error) {
                    console.log('Error: ' + error.message);
                }
            });
            $('#AddDomModal').hide();
            $('.modal-backdrop').hide();
        });
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2>Welcome <small> <%= uid %></small></h2>
            </div>
            <!-- /.navbar-header -->

            <!-- /.navbar-********************************************************************************************top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" ng-controller="domList">
                        <li class="sidebar-search" id="SearchBox">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li >
                            <a href="#"><i class="fa fa-th-list fa-fw"></i>All Ideas</a>
                        </li>
                        <li ng-repeat="dom in domLi">
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>{{dom.name}}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li ng-repeat="subdom in dom.sd">
                                    <a href="#">{{subdom}} <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li>
                                            <a href="/search?sd="+{{subdom.name}}+ '&dom={{dom.name}}'>Search Ideas</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>   
                        <li class="active">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="active" href="blank">Blank Page</a>
                                </li>
                                <li>
                                    <a href="\login">\login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="ideaList">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Domains and Ideas
                            <!-- ******************Modal************************* -->
                            <!-- Button trigger modal -->
                            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="addDom" data-target="#AddDomModal">
								Add Domain
							</button>
                        </h1>
                        <!-- Modal -->
                        <div class="col-lg-8" >
                            <div class="modal fade" id="AddDomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Add New Domain</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" ng-controller="domList">
                                                <div class="form-group col-lg-6">
                                                    <label>Domain Name</label><br />
                                                    <input list="DomainList" type="text" ng-model="selectedDomain">
                                                    <datalist id="DomainList">
                                                        <option ng-repeat="dom in domLi" value="{{dom.name}}"/>
                                                    </datalist>
                                                    
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Sub-Domain Name</label><br/>
                                                    <input list="SubDomainList" type="text">
                                                    <datalist id="SubDomainList">
                                                        <option ng-repeat="dom2 in sd[selectedDomain]" value="{{dom2}}"/>
                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Idea</label>
                                                    <br>
                                                    <input type="text" id="dsd_ideaTitle" form="" placeholder="Title">
                                                    <br /><br />
                                                    <textarea rows="4" cols="50" id="dsd_ideaBody" form="" placeholder="Enter your Ideas"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" id="dsd_ideaCreate" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                        <!-- /.modal -->
                        <!-- ******************Modal************************* -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-8 ideass" id="ideas">
                        <div class="panel-body" id="{{idea._id}}" data-ng-repeat="idea in ideaLi">
                            <div class="panel-group" >
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#{{idea._id}}1" aria-expanded="true" class="">{{idea.tittle}}</a>
                                             <div class="pull-right"> <label>Domain</label>:{{idea.domain}}</div><br><small><label>SubDomain</label>:{{idea.subDomain}}</small>
                                        </h3>
                                    </div>
                                    <div id="{{idea._id}1" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body">
                                            {{idea.ibody}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-4">
                        <div class="chat-panel panel panel-default" style="position:fixed">
                            <div class="panel-heading">
                                <i class="fa fa-comments fa-fw"></i> Chat
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                    <ul class="dropdown-menu slidedown">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-refresh fa-fw"></i> Refresh
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-check-circle fa-fw"></i> Available
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-times fa-fw"></i> Busy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> Away
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <ul class="chat">
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong>
                                                <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong>
                                                <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                                </div>
                            </div>
                            <!-- /.panel-footer -->
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>